################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoProjectPOC/DemoProjectPOC/bin
/DemoProjectPOC/DemoProjectPOC/obj/Debug
/.vs
/DemoProjectPOC/DemoConfig/bin/Debug
/DemoProjectPOC/DemoConfig/obj/Debug
/DemoProjectPOC/DemoModels/bin/Debug
/DemoProjectPOC/DemoModels/obj/Debug
