################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoProjectPOC/DemoProjectPOC/bin
/DemoProjectPOC/DemoProjectPOC/obj/Debug
/.vs
